services:
  mikrotik-backup:
    build: .
    container_name: mikrotik-backup
    restart: "no"

    env_file:
      - stack.env

    # Optional: resource limits
    deploy:
      resources:
        limits:
          memory: 128m
